html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "Heebo", sans-serif;
  font-style: normal;
  color: var(--primary-text-color);
  background-color: var(--background-color);
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--background-color);
}

a {
  text-decoration: none;
}

ul,
p,
h1,
h2,
h3,
li,
button {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  margin-right: auto;
  margin-left: auto;
  width: 375px;
  outline: 1px solid red;
}
@media screen and (min-width: 1152px) {
  .container {
    width: 1152px;
  }
}

.container.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 18px 12px 327px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.header-button {
  border: none;
  background-color: #fff;
}

.section.hero {
  background: #FFF;
}

@media screen and (min-width: 1152px) {
  .container.hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.hero-foto {
  margin-right: 104px;
  margin-left: 100px;
  margin-top: 33px;
  margin-bottom: 43px;
}
.hero-text {
  margin-top: 21px;
  color: var(--Dark-Color, #21243D);
  text-align: center;
  font-family: Heebo;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 24px;
  padding-right: 23px;
}
@media screen and (min-width: 1152px) {
  .hero-text {
    margin-left: 148px;
    margin-top: 40px;
  }
}

.hero-title {
  color: var(--Dark-Color, #21243D);
  text-align: center;
  font-family: Heebo;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  /* 125% */
  padding-left: 32px;
  padding-right: 31px;
}
@media screen and (min-width: 1152px) {
  .hero-title {
    margin-left: 148px;
    margin-top: 208px;
  }
}

.hero-button {
  width: 208px;
  height: 47px;
  margin-right: 84px;
  margin-left: 84px;
  margin-bottom: 76px;
  margin-top: 36px;
  color: #FFF;
  font-family: Heebo;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: none;
  border-radius: 2px;
  background-color: #FF6464;
  padding-top: 9px;
  padding-bottom: 17px;
  padding-left: 20px;
  padding-right: 21px;
}

.section.article {
  background-color: #EDF7FA;
  padding-bottom: 38px;
}

.article-title {
  color: var(--Dark-Color, #21243D);
  font-family: Heebo;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px;
  text-align: center;
  margin-bottom: 11px;
}

.article-post {
  padding-left: 19px;
  padding-top: 12px;
  padding-bottom: 22px;
  padding-right: 21px;
  background: #FFF;
}

.article-items {
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 10px 0px rgba(187, 225, 250, 0.25);
          box-shadow: 0px 4px 10px 0px rgba(187, 225, 250, 0.25);
  margin-right: 10px;
  margin-left: 10px;
}
.article-items:nth-child(1) {
  margin-bottom: 17px;
}

.post-title {
  color: #21243D;
  font-family: Heebo;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 12px;
}

.post-text {
  display: inline-block;
  color: #21243D;
  font-family: Heebo;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.post-text:nth-child(1) {
  padding-right: 24px;
  border-right: 1px solid #000;
}
.post-text:nth-child(2) {
  padding-left: 24px;
}
.post-text:nth-child(3) {
  margin-top: 19px;
}

.section.works {
  padding-bottom: 150px;
}

.futured-title {
  color: #21243D;
  font-family: Heebo;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px;
  margin-left: 126px;
}

.futured {
  padding-left: 18px;
  padding-right: 13px;
}

.futured-img {
  margin-top: 2px;
  border-radius: 6px;
}

.second-futured-title {
  color: #21243D;
  font-family: Heebo;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
}

.year {
  display: inline-block;
  padding-right: 12px;
  padding-left: 12px;
  background-color: #142850;
  border-radius: 16px;
  color: #FFF;
  text-align: center;
  font-family: Heebo;
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
}

.futured-text {
  display: inline-block;
  color: #21243D;
  font-family: Heebo;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 25px;
  padding-bottom: 17px;
  border-bottom: 1px solid #E0E0E0;
}
.futured-text:not(:last-child) {
  color: #8695A4;
  padding-left: 22px;
  top: 16px;
  padding-bottom: 0;
  border: 0;
}

footer {
  padding-bottom: 54px;
}

.footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-top: 51px;
  padding-bottom: 26px;
}

.footer-link {
  color: #21243D;
  text-align: center;
  font-family: Heebo;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 76px;
  margin-bottom: 54px;
}/*# sourceMappingURL=main.css.map */