.container.header{
    display: flex;
        padding: 20px 18px 12px 327px;
        justify-content: flex-end;
        align-items: center;
        flex-shrink: 0;
    @media screen and (min-width:$desktop) {
        display: none;
    }
}

.header-button{
    border: none;
    background-color: #fff;
}

.container.second.header{
    display: block;
    @media screen and (max-width:$desktop) {
        display: none;
    }
}

.header-nav{
    display: flex;
    justify-content: end;
}

.nav-items{
    padding-left: 33px;
    &:nth-child(3) {
            margin-right: 60px;
        }
}

.nav-link{
    color: #000;
        text-align: right;
        font-family: Heebo;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
}