.container.header{
    display: flex;
        padding: 20px 18px 12px 327px;
        justify-content: flex-end;
        align-items: center;
        flex-shrink: 0;
}

.header-button{
    border: none;
    background-color: #fff;
}